body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: #ddd;
  background-color: #222;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

h1 {
  margin: 0;
  width: auto;
  flex: 1;
}

button {
  padding: 0.3em 0.8em 0.35em 0.8em;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: hsl(215.75, 98.36%, 52.16%);
}

button:active {
  background-color: hsl(215.75, 98.36%, 70%);
}

#cy {
  width: 100%;
  flex: 1;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  position: relative;
}

.algo-controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  margin: 1em;
  margin-top: 0;
}

.divider {
  background-color: #ccc;
  width: 1px;
}

#cy canvas {
  left: 0;
}

#status-line {
  position: absolute;
  top: 1em;
  left: 1em;
}

input[type="file"] {
  display: none;
}

.file-upload {
  background-color: hsl(215.75, 98.36%, 52.16%);
  padding: 0.45em 0.8em 0.35em 0.8em;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  color: white;
}
