body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

#cy {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
}

#cy canvas {
	left: 0;
}
